@use "global" as *;

.c-breadcrumb {
    background-color: $main;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow: hidden;
}

.c-breadcrumb-inner {
    max-width: 1450px;
    margin: 0 auto;
}
.c-breadcrumb-main {
    font-size: 0.75rem;
}

.breadcrumbs {
    a {
        color: $white;
        display: inline-block;
        height: rem(48);
        line-height: rem(48);
        padding-right: rem(8);
        padding-left: rem(16);
        transition: 1s;
        // z-index: 0;
        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            z-index: 1;
            transition: 1s;
        }
        &::after {
            right: rem(-12.1);
            border-width: 24px 0 24px 12px;
            transition: 1s;
            border-color: transparent transparent transparent $main;
        }
        //ずらし hover時枠線
        &::before {
            right: rem(-13.475);
            border-width: 24px 0 24px 12px;
            border-color: transparent transparent transparent $white;
        }
        &:hover {
            background-color: white;
            color: $main;
            &::after {
                border-color: transparent transparent transparent $white;
            }
            &::before {
                border-color: transparent transparent transparent $main;
            }

        }
    }
    span {
        line-height: rem(48);
    }
    .home,
    .taxonomy,
    .category,
    .archive{
        color: $white;
        position: relative;
        font-size: 1rem;
    }
    .current-item {
        font-size: 1rem;
        color: $main;
        display: inline-block;
        position: relative;
        font-weight: bold;
        background-color: $white;
        padding-left: rem(20);
        padding-right: rem(8);
        &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            right: rem(-12);
            border-style: solid;
            border-width: 24px 0 24px 12px;
            border-color: transparent transparent transparent $white;
        }
        &::before {
            right: 0;
            border-width: 0px 0 0px 0px;
            border-color: transparent transparent transparent $white;
        }
    }
}

@include mq (sp) {
    .breadcrumbs {
        .home,
        .taxonomy,
        .category,
        .archive{
            font-size: 1rem;
        }
        .current-item {
            font-size: 1rem;
        }
    }
}
