@use "global" as *;

.c-breadcrumb {
    background-color: $green;
    padding-left: 1rem;
    padding-right: 1rem;
}

.c-breadcrumb-inner {
    max-width: 1450px;
    margin: 0 auto;
    padding-top: 1.1875rem;
    padding-bottom: 1.1875rem;
}
.c-breadcrumb-main {
    font-size: 0.75rem;
}

.breadcrumbs {
    color: $white;
    a {
        @include txt-border ($white);
        &::after {
            bottom: 3.2px;
            height: 1px;
        }
    }
    span {
        line-height: 1.5;
    }
    .home,
    .taxonomy,
    .category,
    .archive{
        color: $white;
        position: relative;
        font-size: 0.75rem;
    }
    .current-item {
        font-size: 0.75rem;
        border-bottom: 1px solid rgb(255, 255, 255);
    }
}

@include mq (sp) {
    .breadcrumbs {
        .home,
        .taxonomy,
        .category,
        .archive{
            font-size: 1rem;
        }
        .current-item {
            font-size: 1rem;
        }
    }
}
