@use "global" as *;

.c-frame {
    padding: 10rem 1rem;
    position: relative;
    &:nth-child(even) {
        background-color: $bg-blue;
        &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            left: 50%;
            $b: rem(100);
            bottom: -$b;
            transform: translate(-50%, 0%);
            border-style: solid;
            border-width: $b 50vw 0 50vw;
            border-color: $bg-blue transparent transparent transparent;
            z-index: 10;
        }
    }

    &:nth-child(odd) {
        background-color: $bg-white;
        &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            left: 50%;
            $b: rem(100);
            bottom: -$b;
            transform: translate(-50%, 0%);
            border-style: solid;
            border-width: $b 50vw 0 50vw;
            border-color: $bg-white transparent transparent transparent;
            z-index: 10;
        }
    }
    &:nth-of-type(6) {
        &::after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                left: 50%;
                $b: rem(100);
                bottom: -$b;
                transform: translate(-50%, 0%);
                border-style: solid;
                border-width: 0 0 0 0;
                border-color: $yellow transparent transparent transparent;
                z-index: 10;
            }
    }
}


@include mq (sp) {
}

@include mq () {
}

@include mq (pc) {

}