@use "global" as *;

.c-postCont {
    h1,h2,h3,h4,h5,h6,p,ul,img,a,div,
    .wp-block-quote {
        margin-bottom: rem(24);
    }
    h1 {
        font-size: rem(32);
        line-height: 1.5;
        font-weight: bold;
    }
    h2 {
        font-size: rem(28);
        line-height: 1.5;
        font-weight: bold;
        color: $white;
        background-color: $main;
        padding-top: rem(8);
        padding-bottom: rem(8);
        padding-left: rem(16);
        border-radius: rem(4);
    }
    h3 {
        font-size: rem(24);
        line-height: 1.2;
        font-weight: bold;
        padding-left: 0.625rem;
        border-left: 4px solid $main;
    }
    h4 {
        font-size: rem(20);
        font-weight: bold;
    }
    div,p {
        line-height: 1.5;
    }
    li {
        position: relative;
        line-height: 1.5;
        padding-left: 1.5rem;
        &::before {
            content: "・";
            position: absolute;
            color: $main;
            font-size: 3.4rem;
            top: -28px;
            left: -23px;
        }
    }
    a {
        display: block;
        font-size: 1.125rem;
        color: $d-green;
        text-decoration: underline;
    }

    img {
        max-width: 600px;
        max-height: 500px;
        border: rem(3) solid $main;
        border-radius: rem(4);
    }

    #attachment_1628,
    .alignnone,
    .wp-caption{
        max-width: 525px !important;
    }

    .wp-block-quote {
        position: relative;
        background-color: $bg-blue;
        padding-top: 1rem;
        padding-right: 1rem;
        padding-bottom: 0.125rem;
        padding-left: 4.625rem;
        &::before {
            content: " “ ";
            position: absolute;
            color: $main;
            font-size: 5.625rem;
            left: 15px;
            top: 12px;
        }
    }
}