@use "global" as *;

.c-recipe-cont__list {
    display: none;
}

.c-recipe-cont__item {
    margin: 0 auto;
    max-width: 500px;
    transition: 1s;
    &:hover {
        box-shadow: 0px 0px 5px $d-green;
        opacity: 0.8;
    }
    &:not(:last-child) {
        margin-bottom: rem(56);
    }
}

.c-recipe-cont__item-inner {
    &:hover {
        .c-recipe-img__inner {
            transform: scale(1.05);
        }
        .c-recipe-txt {
            opacity: 0.5;
        }
    }
}

.c-recipe-img {
    height: 270px;
    overflow: hidden;
    position: relative;
    span {
        position: absolute;
    }
}

.c-recipe-img__inner {
    border-radius: 10px 0 10px 10px;
    transition: 1s;                     //カードアニメ
}

.c-recipe-new {
    width: 0;
    height: 0;
    right: 0;
    top: 0;
    font-size: rem(24);
    color: $white;
    border-style: solid;
    border-width: 0 80px 80px 0;
    border-color: transparent $red transparent transparent;
    p {
        right: -80px;
        top: 14px;
        position: absolute;
        transform: rotate(135deg);
    }
}

.c-recipe-tag {
    left: 0;
    bottom: 1rem;
    background-color: $d-green;
    padding-top: rem(4);
    padding-right: 1rem;
    padding-bottom: rem(4);
    padding-left: 1rem;
    border-radius: 0 0.5rem 0 0;
    p {
        font-size: 1rem;
        color: $white;
        &::before {
            content: "Style";
            font-size: 2rem;
        }
    }
}

.c-recipe-coming {
    left: 0;
    top: 0;
    color: $white;
    background-color: $red;
    font-size: rem(24);
    padding: 0.5rem;
}

.c-recipe-txt {
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: 1s; //カードアニメ
}

.c-recipe-txt__exc {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.c-recipe-txt__ttl {
    font-size: rem(22);
    line-height: 1.2;
    font-weight: bold;
}

@include mq (sp) {
}

@include mq () {

    .c-recipe-cont__list {
        display: flex;
        flex-wrap: wrap;
    }

    .c-recipe-cont__item {
        margin: 0 auto;
        width: calc((100% - 2rem) /2);
        max-width: 500px;
        margin-bottom: rem(56);
    }

    .c-recipe-img {
        height: 350px;
    }

    .c-recipe-txt__exc {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }
    
    .c-recipe-txt__ttl {
        font-size: rem(28);
        line-height: 1.2;
        font-weight: bold;
    }
}