@use "global" as *;

.c-secTtl {
    text-align: center;
    margin-bottom: rem(72);
    h3 {
        font-size: rem(40);
    }
}

.c-secTtl_img {
    display: inline-block;
    width: rem(125);
    margin-bottom: rem(16);
    img {
        height: 100%;
    }
}


@include mq (sp) {
    .c-secTtl {
        margin-bottom: rem(48);
    }
}
@include mq () {
    .c-secTtl {
        margin-bottom: rem(64);
        h3 {
            font-size: rem(32);
            font-weight: bold;
        }
    }
    .c-secTtl_img {
        height: rem(75);
    }
}
@include mq (pc) {
}