@use "global" as *;

.c-top-ttl {
    height: 300px;
    padding-top: 80px;
}

.c-top-ttl-inner {
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    height: 220px;
}

.c-top-ttl-main {
    position: absolute;
	top: 50%;
    left: 50%;
	-webkit-transform : translate(-50%, -50%);
	transform: translate(-50%, -50%);
    font-size: 2rem;
    color: $white;
    font-weight: bold;
    text-align: center;
}