@use "global" as *;

.p-contBlog {

}

.p-contBlog_inner {
    max-width: rem(900);
    margin-left: auto;
    background-color: $white;
    padding: rem(128) rem(16);
}

.p-contBlog_ttlImg {
    width: rem(110);
}

.p-contBlog_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: rem(-40);       //card最後列の相殺
}

.p-contBlog_card {
    width: 40%;
    transition: 0.5s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-bottom: rem(40);
    border-radius: rem(50) rem(5) rem(5) rem(5);
    &:hover {
        opacity: 0.8;
        .p-contBlog_img {
            transform: scale(1.1);
        }
    }
}

.p-contBlog_cardInner {
}

.p-contBlog_imgWrap {
    overflow: hidden;
}

.p-contBlog_img {
    transition: 0.5s;
    height: rem(200);
}

.p-contBlog_meta {
    display: flex;
    flex-direction: column;
    height: rem(150);
    padding: rem(8);
}

.p-contBlog_cat {
    span {
        display: inline-block;
        color: $white;
        background-color: $main;
        border-radius: rem(4);
        padding: rem(4) rem(8);
        margin-bottom: rem(16);
    }
}

.p-contBlog_ttl {
    font-size: rem(20);
    flex-grow: 1;            //date下寄せ
}

.p-contBlog_date {
    text-align: end;
    color: $main;
}

@include mq (sp) {
    .p-contBlog_card {
        width: 100%;
    }
}

@include mq () {
    .p-contBlog {
        padding-bottom: 0;
    }
    .p-contBlog_inner {
        padding: rem(80) rem(16);
    }
    .p-contBlog_card {
        width: 85%;
        &:nth-last-child(n+3) {
            margin-bottom: rem(0);
        }
        &:not(:last-child) {
            margin-bottom: rem(40);
        }
    }
}

@include mq (pc) {
    .p-contBlog {
        padding-bottom: 0;
    }
    .p-contBlog_inner {
        margin-left: auto;
        margin: 0 auto;
    }
    .p-sidebar_relation {
        margin-bottom: 0;
    }
}