@use "global" as *;

.p-fv {
    background-color: $bg-white;
    height: calc(rem(740) + rem(150)); //＋ headerのH
    padding-top: rem(150);
    overflow: hidden;
}

.p-fv_inner {
    position: relative;
    height: 100%;
}

//bg_img///////////////////////

.p-fv_bgImg {
    position: absolute;
    height: 100%;
    width: 100%;
}

.p-fv_hand,
.p-fv_wheelR,
.p-fv_wheelL {
    position: absolute;
}

.p-fv_wheelR,
.p-fv_wheelL {
    opacity: 0.5;
    width: 470px;
}

.p-fv_wheelR {
    animation: 18s linear infinite rotation;
    top: rem(200);
    left: rem(540);
}

.p-fv_wheelL {
    animation: 16s linear infinite rotation;
    top: rem(16);
    left: rem(64);
}

@keyframes rotation{
    0%{ transform:rotate(0);}
    100%{ transform:rotate(360deg); }
}

.p-fv_hand {
    right: 0;
    width: 100%;
    height: rem(740);
    border-radius: rem(250) 0 0 0 ;
    // position: relative;
    &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.305);
    }
}
//////////////////////////////////////

.p-fv_txt {
    position: absolute;
    top: rem(0);
    left: rem(140);
    z-index: 10;
}

.p-fv_copyMain {
    color: $black;
    font-size: rem(80);
    font-weight: bold;
    margin-bottom: rem(48);
    line-height: 2;
    text-shadow: 2px 2px 15px rgba(255, 255, 255, 0.5);
}

.p-fv_copySub {
    font-size: rem(24);
    font-weight: bold;
    text-shadow: 2px 2px 15px rgba(255, 255, 255, 0.5);
    line-height: rem(40);
    margin-bottom: rem(54);
}

.p-fv_btn {
    a {
        display: flex;
        align-items: center;
        width: rem(345);
        color: $main;
        font-size: rem(32);
        background-color: $yellow;
        border-radius: rem(5);
        border: rem(2) solid $yellow;
        line-height: rem(76);
        padding-right: rem(28);
        transition: 1s ease-in-out;
        &::before {
            content: "≫";
            position: absolute;
            font-size: rem(24);
            font-family: $kaku-ff;
            right: rem(14);
            top: 0;
            transition: right 1s 0.3s;
        }
        img {
            width: rem(32);
            height: rem(20);
            margin-left: rem(12);
        }
        @include btn-anime-l($main, rem(5));
        &:hover {
            color: $yellow;
            &::before {
                @include arrowAnime;
            }
        }
    }
}

@include mq (sp) {
    .p-fv_wheelR,
    .p-fv_wheelL {
        width: 75%;
    }
    .p-fv_wheelR {
        top: rem(352);
        left: 40%;
    }
    .p-fv_wheelL {
        top: rem(0);
    }
}

@include mq () {
    .p-fv {
        height: calc(rem(650) + rem(150)); //＋ headerのH
    }
    .p-fv_copyMain {
        font-size: max(rem(24), 10.4vw);
        margin-bottom: rem(48);
    }
    .p-fv_hand {
        left: 0;
        right: auto;
        background-position: 75% 0;
    }
    .p-fv_copySub {
        font-size: rem(18);
    }
    .p-fv_wheelR,
    .p-fv_wheelL {
        width: 60%;
    }
    .p-fv_wheelR {
        top: rem(320);
        left: 40%;
    }
    .p-fv_wheelL {
        top: rem(0);
    }

    .p-fv_btn {
        a {
            width: rem(230);
            color: $main;
            font-size: rem(32);
            line-height: rem(80);
            padding-right: rem(20);
            font-size: 1.2rem;
            line-height: 3.5rem;
            &::before {
                content: "≫";
                font-size: rem(20);
            }
        }
    }
}

@include mq (pc) {
    .p-fv_txt {
        position: absolute;
        width: 95%;
        max-width: rem(700);
        top: rem(40);
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .p-fv_copyMain {
        font-size: max(rem(56), 7vw);
        margin-bottom: rem(48);
    }

    .p-fv_copySub {
        font-size: rem(20);
        font-weight: bold;
    }

    .p-fv_wheelR,
    .p-fv_wheelL {
        width: 45%;
        img {
        }
    }
    .p-fv_wheelR {
        top: rem(232);
        left: 50%;
    }
    .p-fv_wheelL {
        top: rem(0);
        left: 7%;
    }
}