@use "global" as *;

.p-strengths {
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
}

.p-strengths_inner {
}

.p-strengths_ttlImg {
    width: rem(125);
}

.p-strengths_accordion {
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: rem(48);
}

.p-strengths_bottom {
    text-align: center;
}

.p-strengths_item {
    &:not(:last-child) {
        margin-bottom: rem(16);
    }
}

.p-strengths_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: $white;
    border-bottom: 1px solid $main;
    border-left: 1px solid $main;
    font-size: rem(24);
    font-weight: bold;
    padding: rem(22) rem(20);
    position: relative;
    cursor: pointer;
    img {
        position: absolute;
        right: 3%;
        width: rem(18);
    }
}

.p-strengths_desc {
    display: none;
    background-color: $main;
    color: $white;
    font-size: rem(20);
    text-align: center;
    padding: rem(20) rem(8);
    line-height: 1.5;
    //jsアニメ強制変更
    .p-strengths_underline{
        &::after {
            bottom: 0;
            height: rem(4);
        }
    }
}

.p-strengths_txt {
    font-size: rem(20);
    font-weight: bold;
    margin-bottom: rem(32);
}

.p-strengths_contact {
    a {
        display: flex;
        align-items: center;
        width: rem(250);
        line-height: rem(72);
        font-size: rem(24);
        color: $main;
        background-color: $yellow;
        border: rem(2) solid $yellow;
        margin: 0 auto;
        position: relative;
        padding-right: rem(8);
        @include btn-anime-l ($main, rem(5));
        transition: all 0.8s ease-in-out;
        &::before {
            content: "Contact";
            position: absolute;
            z-index: 10;
            color: $yellow;
            font-family: $kaku-ff;
            font-size: rem(28);
            opacity: 0;
            text-align: center;
        }
        &:hover {
            &::after {
                z-index: 1;
            }
            &::before {
                opacity:1;
                transition: opacity 0.5s 0.5s linear; //早く消すため
            }
            span {
                color: $yellow;
                transition: 0.8s 0.5s ease-in-out; //早く消すため
                @include arrowAnime;
            }
        }
    }
    span {
        position: absolute;
        right: rem(24);
        font-size: rem(18);
        font-family: $kaku-ff;
        font-weight: bold;
        z-index: 10;
    }
}

@include mq (sp) {
}

@include mq () {
    .p-strengths_main {
        height: 70px;
        font-size: rem(20);
        padding: rem(22) rem(24) rem(22) rem(12);
        cursor: pointer;
        img {
            width: rem(16);
        }
    }
    .p-strengths_desc {
        font-size: rem(16);
    }
}

@include mq (pc) {

}