@use "global" as *;


.p-404_inner {
    text-align: center;
    padding-top: rem(64);
    padding-bottom: rem(64);
}

.p-404_txt {
    margin-bottom: rem(32);
    font-size: rem(32);
    font-weight: bold;
    line-height: 1.5;
}

.p-404_link {
    a {
        text-decoration: underline;
    }
}

@include mq (sp) {
    .p-404_txt {
        font-size: rem(20);
    }
}

@include mq () {
    .p-404_txt {
        font-size: rem(24);
        margin-bottom: rem(32);
    }
}

@include mq (pc) {
    .p-404_txt {
        font-size: rem(28);
        margin-bottom: rem(40);
    }
}