@use "global" as *;

.l-footer {
    background-color: $main;
    padding: rem(64) rem(16);
    overflow: hidden;
    border-radius: 0 rem(200) 0 0;
}

.l-footer_inner {
    position: relative;
    display: flex;
    justify-content: space-around;
    max-width: rem(900);
    margin: 0 auto;
}

.l-footer_inner-L {
}

.l-footer_copyright {
    color: $black;
}

@include mq (sp) {
}

@include mq () {
    .l-footer {
        background-color: $main;
        padding: rem(64) rem(32);
        overflow: hidden;
        border-radius: 0 rem(150) 0 0;
    }
    .l-footer_inner {
        display: flex;
        flex-direction: column;
        width: rem(250);
        justify-content: flex-end;
        margin: 0;
        margin-right: auto;
    }
}

@include mq (pc) {
    .l-footer_inner-R {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}