@use "global" as *;

.p-detail {
    padding-top: rem(64);
    padding-bottom: rem(64);
    video {
        display: block;
        width: 100%;
        height: 235px;
        max-width: 900px;
        max-height: 500px;
        margin: 0 auto;
        margin-bottom: rem(48);
    }
    h2{
        display: inline-block;
        margin: 0 auto;
        color: $white;
        background-color: $navy;
        padding: 0.5rem;
    }
    table {
        background-color: $l-green;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 1.5rem ;
        border-collapse: separate;       //padding無効の対処
        &:first-of-type {
            margin-bottom: rem(48);
        }
    }
    tbody {
    }
    tr {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0.25rem;
        border-bottom: dotted 2px $black;
    }
    td {
        line-height: 1.2;
        text-transform: none;
        text-indent: -1em;
        padding-left: 1em;
    }
}

.p-detail-inner {}

.p-detail-ttl{}

.p-detail-explain {
    display: block;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    max-width: 600px;
    margin: 0 auto;
}

.p-detail-review {
    display: block;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    max-width: 600px;
    margin: 0 auto;
}

#glsr_9be16351 {
    margin-bottom: 2rem;
}

.glsr-review-author {
    width: 100%;
    margin-bottom: 0.5rem;
}

.glsr-no-margins {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.glsr-button {
    width: 175px;
    .glsr-button-text {
        display: block;
        color: $white;
        font-weight: bold;
        background-color: $green;
        border-radius: 5px;
        line-height: calc(2.75rem - rem(4));
        @include btn-anime-2;
    }
}

.glsr .glsr-reviews-wrap .glsr-reviews {
    gap: 1rem;
}

.glsr-reviews-wrap {
    padding-top: 1rem;
    padding-left: 1rem;
}

.glsr-review {
    border-bottom: 2px dotted $black;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}

@include mq (sp) {
    .p-detail {
        padding-top: rem(64);
        padding-bottom: rem(64);
        video {
            height: auto;
        }
        table {
            background-color: $l-green;
            max-width: 600px;
            margin: 0 auto;
            padding: 1.5rem ;
            &:first-of-type {
                margin-bottom: rem(48);
            }
        }
        tbody {
        }
        tr {
            display: flex;
            justify-content: space-between;
            padding: 1rem 0.25rem;
            border-bottom: dotted 2px $black;
        }
        td {
            line-height: 1.2;
        }
    }
}