@use "global" as *;

.p-singleNews {

}

.p-singleNews_inner {
    max-width: rem(900);
    margin-left: auto;
    background-color: $white;
    padding: rem(128) rem(48);
}

.p-singleNews_top {
    margin-bottom: rem(24);
}

.p-singleNews_ttl {
    font-size: rem(32);
    margin-bottom: rem(32);
}

.p-singleNews_date {
    text-align: end;
    font-size: rem(18);
    color: $main;
    font-weight: bold;
}

@include mq (sp) {
}

@include mq () {
    .p-singleNews_inner {
        padding: rem(80) rem(16);
    }
}

@include mq (pc) {
    .p-singleNews {
        padding-bottom: 0;
    }
    .p-singleNews_inner {
        margin-left: auto;
        margin: 0 auto;
    }
}