@use "global" as *;

.p-cta {
    background-size: cover;
    background-attachment: fixed;
}

.p-cta_inner {
    padding: rem(48) rem(16);
    display: block;
    transition: 1s;
    @include graAnime-out;
    /// =========================
    // CTAのhoverクラス
    // =========================
    &:hover {
        @include graAnime;
        .p-cta_contact {
            button {
                &::after {
                    z-index: 1;
                    left: 0;
                    width: 100%;
                }
                &::before {
                    transition: opacity 0.5s 0.5s linear; //早く消すため
                    opacity:1;
                }
                span {
                    color: $yellow;
                    transition: 0.8s 0.5s ease-in-out; //早く消すため
                    &:first-child {
                        @include arrowAnimeL;
                    }
                    &:last-child{
                        @include arrowAnime;
                    }
                }
            }
        }
    }
}

.p-cta_top {
    font-size: rem(40);
    text-align: center;
    line-height: 1.5;
    margin-bottom: rem(40);
}

.p-cta_contact {
    button {
        width: rem(400);
        background-color: hsla(54, 100%, 50%, 0.70);
        font-size: rem(36);
        font-weight: bold;
        color: $main;
        line-height: rem(80);
        border-radius: rem(4);
        border: rem(2) solid $yellow;
        transition: all 0.8s ease-in-out;
        position: relative;
        z-index: 1;
        &::before {
            content: "Contact";
            position: absolute;
            z-index: 10;
            color: $yellow;
            font-size: rem(48);
            font-family: $kaku-ff;
            opacity: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &::after {
            position: absolute;
            content: "";
            width: 0;
            height: 100%;
            top: 0;
            // right: 0;     //右に流れる
            left: 0;         //左に戻る
            z-index: -1;
            background: $main;
            border-radius: rem(4);
            transition: all 0.5s ease-in-out;
        }
        &:active {
            top: 2px;
        }
        // =========================
        // arrow
        // =========================
        span {
            position: absolute;
            color: rgba(0, 0, 0, 0);
            font-family: $kaku-ff;
            font-size: rem(24);
            top: rem(-1);
            z-index: 10;
            &:first-child {
                left: rem(24);
            }
            &:last-child{
                right: rem(24);
            }
        }
    }
}

.p-cta_bottom {
    font-size: rem(28);
    text-align: center;
    margin-top: rem(40);
    font-weight: bold;
}

@include mq (sp) {
}

@include mq () {
    .p-cta {
        background-position: 70% 0;
    }
    .p-cta_top {
        font-size: max(rem(16), 5vw);
    }
    .p-cta_bottom {
        font-size: max(rem(16), 4.5vw);
    }
    .p-cta_contact {
        button {
            width: rem(280);
            font-size: rem(28);
            &::before {
                font-size: rem(32);
            }
        }
        span {
            font-size: rem(18);
            &:first-child {
                left: rem(24);
            }
            &:last-child{
                right: rem(24);
            }
        }
    }
}

@include mq (pc) {
    .p-cta {
        background-position: 50% 0;
    }
    .p-cta_top {
        font-size: rem(32);
    }
}