@use "global" as *;

.p-sidebar {
    width: 30vw;
}

.p-sidebar_inner {
    max-width: rem(300);
    margin-right: auto;
    position: sticky;
    top: rem(70);
}

.p-sidebar_post,
.p-sidebar_cat {
    background-color: $white;
    border-radius: rem(8);
}

.p-sidebar_post {
    margin-bottom: rem(40);
}

.p-sidebar_postTtl,
.p-sidebar_catTtl {
    background-color: $main;
    color: $white;
    text-align: center;
    font-size: rem(24);
    font-weight: bold;
    padding-top: rem(8);
    padding-bottom: rem(8);
}

.p-sidebar_postList,
.p-sidebar_catList {
    padding: rem(24) rem(28);
}

.p-sidebar_catList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.p-sidebar_catItem {
    a {
        border-radius: rem(5);
    }
}

.p-sidebar_postItem {
    overflow: hidden;
    &:not(:last-child) {
        margin-bottom: rem(16);
    }
    &:hover {
        .p-sidebar_img {
            transform: scale(1.1);
        }
        .p-sidebar_metaTtl {
            opacity: 0.5;
        }
    }
}

.p-sidebar_imgWrapper {
    position: relative;
}

.p-sidebar_img {
    transition: 0.5s;
    height: rem(150);
}

.p-sidebar_metaTtl {
    position: absolute;
    bottom: 0;
    font-size: rem(16);
    background-color: $main;
    color: $white;
    padding: rem(4);
    transition: 0.5s;
}



.p-sidebar_catItem {
    margin: rem(8);
    a {
        display: block;
        background-color: $main;
        color: $white;
        font-size: rem(24);
        padding: rem(4);
    }
}

@include mq (sp) {
    .p-sidebar_img {
        height: rem(200);
    }
    .p-sidebar_postList {
        padding: rem(24) 0;
    }
}

@include mq () {
    .p-sidebar {
        width: 100vw;
        padding-top: 0;
    }
    .p-sidebar_inner {
    }
    .p-sidebar_metaTtl {
        font-size: rem(16);
    }
}

@include mq (pc) {
    .p-sidebar {
        width: 100vw;
        padding-top: 0;
    }
    .p-sidebar_inner {
        max-width: rem(900);
        margin: 0 auto;
        height: auto;
    }
    .p-sidebar_metaTtl {
        font-size: rem(20);
    }

    .p-sidebar_post,
    .p-sidebar_cat {
        padding: rem(16);
    }

    .p-sidebar_post {
        margin-bottom: 0;
    }
    
    .p-sidebar_cat {
        padding-bottom: rem(80);
    }

    .p-sidebar_postItem {
        max-width: rem(450);
        width: 100%;
        margin: 0 auto;
        &:not(:last-child) {
            margin-bottom: rem(40);
        }
    }
    .p-sidebar_img {
        height: rem(300);
    }
    .p-sidebar_postTtl,
    .p-sidebar_catTtl {
        max-width: rem(600);
        margin: 0 auto;
    }

    .p-sidebar_postList {
        padding: rem(64) rem(28);
    }

    .p-sidebar_catList {
        margin: 0 auto;
        max-width: rem(500);
        width: 90%;
    }
}